@import "utils/scss/index"

#Previous_Main_Container
  padding: 4px 10px
  background: $primary-bg-color
  font-weight: 600
  font-size: 1.2rem
  color: #fff
  cursor: pointer
  border-radius: .25rem
  display: inline-block

@media (min-width:992px)
  #Previous_Main_Container
